h1 {
    color: #000000;
  }
  body {
    text-align: center;
    background-color: #ecaf52;
    font-family: "Quicksand", sans-serif;
  }
  h5 {
    font-size: larger;
    color: #570014;
    font-style: italic;
  }
  ul {
    display: inline;
    font-size: larger;
    list-style-position: inside;
  }
  
  .marka {
    color: #79447e;
    font-size: 40px;
    font-weight: bolder;
  }
  ol {
    display: inline;
    font-size: larger;
    list-style-position: inside;
  }