#googlelogo {
    text-align: center;

}
#search-area {
    margin: auto;
    width: 80%;
    height: 80px;
    background-color: rgba(194, 194, 194, 0.171);
    text-align: center;

}
input[type="text"]{
    width: 300px;
    margin: 0 auto;
}
#others{
    margin: 2px auto;
    width: 80%;
    height: 100px;
    display: flex;
    text-align: center;
    background-color: rgba(194, 194, 194, 0.171);
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px;
}
#footer{
    text-align: center;
    font-size: 12px;
}