body{
    border-top:solid 1px #1a19198a;
    margin:0;
}
#container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#5f6368;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#5f6368;
    padding:2px 10px ;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#header{
    margin-top: 2%;
    height: 10%;
}
#singin{
    width: 70px;
    height: 30px;
    background-color: #4685F0 ;
    border-width: 0;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}
.section{
    height: 30%;
}
#search-area{
    height: 20%;
    width: 700px;
    margin: 0 auto;
    position: absolute;
    top:32%;
    left: 27%;

}
#search{
    width: 580px;
    height: 40px;
    border:solid 2px #d6d6d6c2;
    border-radius: 25px;
    padding-top: 10px;
}
#search:hover{
    box-shadow: 0px 3px 5px 1px rgba(158, 158, 158, 0.664);
}
#text-input{
    width:480px;
    height: 25px;
    border: none;

}
#text-input:focus{
    border:solid 1px transparent;
}
.button-google{
    position: absolute;
    top: 40%;
    left: 38%;
    border: none;
    width: 150px;
    height: 30px;
    color: #5f6368;
}
.button-lucky{
    position: absolute;
    top: 40%;
    left: 55%;
    border:none;
    width: 150px;
    height: 30px;
    color: #5f6368;
}
#footer{
    height: 3%;
    width: 100%;
    border-top:solid 1px #d6d6d6c2;
    padding-top: 8px;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
}